<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <title>Happy Happy Disney</title>
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/design.css') }}">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<!--Start Navbar-->
<nav class='navbar navbar-default'>

    <b><a href = "/"><h1 style = "font-size: 60px; padding-bottom: 30px;font-family: Big Caslon;">Magical Disney Journey</h1></a></b>
    <center><a href="/predict" class = "w3-btn w3-blue" >Predict</a> 
        <a href="/month" class = "w3-btn w3-blue">Calendar</a> 
        <a href="/madlib" class = "w3-btn w3-blue">Game</a>
        <a href="/about" class = "w3-btn w3-blue">About</a></center>

        <br>
        <br>
</nav>

 
   <!--End Navbar-->



    
        


  <!--End Navbar-->

  <!--Start main body-->
  <body>
    <div class="col-md-8">                    
  
  <div class='row'>
   <div class='column'>
   
    
      <script type='text/javascript' src='/static/js/LauraClose.js'></script>
      <!-- <p>Greetings Proper Noun I hope you are ready for your Verb to Disneyland.  </p>
      <p>Greetings  <h6 class='pnoun'>Proper noun</h6> you found the madlib page.  You must be very <h5>Adjetive</h5>
      In fact you are so excited you shoud <h4 id = "IVerb" >Verb</h4> and <h4>Verb</h4>  -->


      <h2 class="Rainbow" style = "font-size: 55px; font-family: Big Caslon;">Greetings <span class="PN1">  (Proper Noun) </span>! </h2> <p class="Rainbow"  style="padding-left: 31px;padding-right: 31px;padding-bottom: 15px;"> I heard you are sooooo excited for your trip to the magical 
      <span class="A1">(adjective)</span>, <span class="A2">(adjective)</span> land of Disney.  In fact, I bet you are <span class="V1">(Verb)</span>-ing and <span class="V2">(Verb)</span>-ing, all over the <span class="N1">(Noun)</span>.
      You are even getting to bring your best-ie best friend <span class="PN2">(Proper Noun)</span> along.  Don’t forget to pack your <span class="N2">(Noun)</span> 
      in your suitcase. Because you’ll need it.
      So <span class="V3">(Verb)</span> on your <span class="N3">(Noun)</span> and come to the most happiest, wonderfullniest, spectacularist, 
      <span class="A3">(adjective)</span>, place on earth….. Disneyland. </p>
 
    </div>

  </div>
 
   </body>
    
  
    

    

</div>


  

</div>
                
                        <!-- End Summary Column-->
                

                </div>
        </div>
        <!-- Finish Main Body-->

        <!--Footer-->
     

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>